* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
}

.navbar-custom {
    background-color: #ff5500;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 18px;
    font-weight: bold;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.jumbotron {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 10px;
}

.service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 10px;
}

.title {
    font-size: 43px;
    font-weight: 700;
    color: #ff5500;
}

p {
    font-size: 25px;
}